header {
    height: 77.56px;
    width: 100%;
    background-color: #c4c4c4;
    opacity: 50%;
    position:fixed;
    top:0px;
  }

  .header-left {
    float: left;
  }

  .header-left p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    margin-left: 115px;
    margin-top: -20px;
    bottom: 50px;
    position: relative;
    
  }
  
  .header-left img {
    width: 95px;
    margin-left: 10px;
    margin-top:-5px
  }

  .header-right {
    float:right;
  }

  .header-right li{
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    float: left;
    margin-top: 15px;
    margin-right: 50px;

  }

  .header-right a{
    color:black;
    text-decoration: none;
  }
.top-wrapper {
  padding: 100px 0 460px 0;
  background-image: url(pict_havard.png);
  background-size: cover;
  color: rgb(0, 0, 0);
  text-align: center;
}

.top-wrapper h1 {
  font-family: verdana;
  font-size: 45px;
  margin-bottom: 10px;
}

.form-control {
  background-color:#E1D3C1;
  color:#000000;
  font-size: larger;
  border-radius: 15px;
  cursor: text;
  text-align: center;
  margin: 0px -10px;
  width: 1000px;
  padding: 15px 100px;
  border: 1px #E1D3C1;
  position: relative;
}
.contact-submit {
  background-color:#AC6C0D;
  color:#ffffff;
  font-size: larger;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 4px;
  margin-left: -90px;
  padding: 10px 30px;
  border: 1px #AC6C0D;
  position: relative;
}
